In [1]:
import sys
import os
base_folder = os.getenv('PROJECT_TFM')
sys.path.insert(1, base_folder+'\\python\\')
sys.path.insert(1, base_folder+'\\python\\project\\2dfgrs\\')
import execute
import project

In [35]:
execute.execute()

1
10001
20001
30001
40001
50001
60001
70001
80001
90001
100001
110001
120001
130001
140001
150001
160001
170001
180001
190001
200001
210001
220001
230001
240001
End

In [2]:
execute.execute_import_groups()

1
10001
20001
30001
40001
50001
60001
70001
80001
90001
100001
110001
120001
130001
140001
150001
160001
170001
180001
190001
200001
210001
220001
230001
240001
End

In [4]:
import pandas as pd
file = base_folder+'\\data\\2dfgrs\\2dfgrs-valid.csv'
print(file)
data = pd.read_csv(file)
data

C:\desarrollo\git\uoc\tfm\data\2dfgrs\2dfgrs-valid.csv

,GAL_ID,ra,dec,x,y,z,redshift,dist,GROUP_ID
0,2,3.627292,-32.966861,0.099988,0.006339,-0.064981,0.1229,0.119417,12097
1,3,3.586292,-32.388000,0.085393,0.005352,-0.054273,0.1038,0.101322,542
2,5,3.608000,-32.711528,0.084924,0.005355,-0.054652,0.1036,0.101132,4846
3,6,3.612542,-32.862444,0.106340,0.006714,-0.068832,0.1308,0.126850,4847
4,7,3.613417,-33.013278,0.089646,0.005661,-0.058362,0.1099,0.107120,1462
...,...,...,...,...,...,...,...,...,...
104907,332683,218.192917,-2.104833,-0.043573,-0.034280,-0.002038,0.0562,0.055478,12096
104908,332688,218.184250,-2.088833,-0.043808,-0.034454,-0.002033,0.0565,0.055770,12096
104909,332689,218.172000,-2.404389,-0.091945,-0.072281,-0.004911,0.1204,0.117058,78706
104910,332691,218.189667,-2.685111,-0.031195,-0.024539,-0.001861,0.0401,0.039733,78707
104911,332692,218.156333,-1.530194,-0.040312,-0.031673,-0.001369,0.0519,0.051285,78708